# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
_site/
dist/

# Cache
.cache/
.eleventy-cache/

# Environment variables
.env
.env.*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
